@charset "utf-8";
/* CSS Document */

/*------------------
Fonts
------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url("https://use.typekit.net/hdp5hbs.css");



/*------------------
General Styles
------------------*/
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	min-height: 100vh;
	width: 100%;
}

body {
    background-color: #ECF0F1;
    color: #283744;
    display: flex;
    flex-direction: column;
    font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1 {
    color: #283744;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 700;
}

h2, h3 {
	color: #283744;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 600;
}

h2 {
    font-size: 1.6em;
	padding: 20px 0;
}

h3 {
    font-size: 1.2em;
	padding-bottom: 20px;
}

img {
	max-width: 100%;
}



/*------------------
Links
------------------*/

a {
    text-decoration: none;
    color: #3498DB;
}

a:hover {
    color:#E74C3C;
    transition: 0.2s;
}

#main-content a:visited {
    color:#8E44AD;
}



/*------------------
Nav Bar
------------------*/

.navbar {
	background-color: #283744;
}

.navbar .navmenu {
	display: none;
	text-align: center;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar ul li a {
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 400;
    display:inline-block;
	padding: 10px;
	width: 100%;
}

.navbar li a {
	background-color: #283744;
	color: #ECF0F1;
	font-size: 1.2em;
    text-decoration: none;
}

.navbar .active {
    color: #ee7546;
}

.dropdown-content {
    display: none;
    position: absolute;
	overflow: auto;
}

.dropdown-content li a {
	background-color: #1f2c35;
	border-bottom: 2px solid #283744;
	display: block;
    text-align: left;
}

.dropdown .dropdown-content.show {
	display: block;
	position: relative;
}

.fa-sort-desc {
	display: inline-block;
	padding: 0 10px;
}

.dropdown:hover ul li {
    display: block;
	padding: 0;
}



/*------------------
Main Header
------------------*/
#main-header {
	background-color:#283744;
	border-bottom: solid 3px #ee7546;
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 1000;
}

#main-header h1 {
	background-color:#283744;
	color: #ECF0F1;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-weight: 600;
    text-align:center;
	font-size: 1.9em;
	letter-spacing: .5px;
    padding: 20px 10px;
}



/*------------------
Main Content
------------------*/

#main-content,
#home-main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    /*justify-content: flex-start;*/
	margin: 0 auto;
    width: 88%;
}

#home-main-content {
	justify-content: center;
	min-height: calc(100vh - 215px);
}

#main-content {
	min-height: calc(100vh - 82px);
	padding-top: 7em;
	padding-bottom: 2.5em;
}

#main-content p {
	line-height: 1.5em;
	padding-bottom: 1em;
}



/*------------------
Masonry Grid
------------------*/
#container {
	width: 100%;
	margin: 0 auto;
}

#illustrations-gallery {
	list-style: none;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
	width: 100%;
}

#illustrations-gallery img {
	display: inline-block;
	margin-bottom: 4px;
	width: 100%;
}



/*------------------
Modal Styles
------------------*/
.myImg {
	cursor: pointer;
}
/*.myImg:hover {
	cursor: pointer;
	opacity: 0.75;
	transition: 0.2s ease;
}*/

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 90%;
	max-width: 100%;
    text-align: center;
    color: #ECF0F1;
    padding: 10px 0;
	font-weight: 300;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ECF0F1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #636e72;
    text-decoration: none;
    cursor: pointer;
}




/*------------------
Footer
------------------*/

footer{
	color: #283744;
	display: block;
	margin: 10px 0;
	text-align: center;
	width: 100%;
}

footer p {
	margin-top: 10px;
}



/*------------------
Footer Icons
------------------*/
.icon-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.icon-flex .fa-github,
.icon-flex .fa-linkedin-in,
.icon-flex .fa-dribbble,
.icon-flex .fa-twitter,
.icon-flex .fa-envelope {
  	color: #283744;
  	font-size: 2.25em;
  	margin: 0 15px;
}

.icon-flex .fa-github:hover,
.icon-flex .fa-linkedin-in:hover,
.icon-flex .fa-dribbble:hover,
.icon-flex .fa-twitter:hover,
.icon-flex .fa-envelope:hover {
	color: #445d72;
	transition: 0.2s ease;
}



/*------------------
Home Page
------------------*/

.header-home {
	margin-top: 30px;
}

.headline {
	font-size: 2em;
	margin-top: 20px;
	text-align: center;
}

.subheadline {
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
}

#home-gallery {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	text-align: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* margin: 0 5px; */
}

svg {
	display: block;
	margin: 0 auto;
	height: 80%;
	width: 80%;
	margin-bottom: 10px;
  }

.about-icon:hover #outer-circle,
.about-icon:hover #head,
.about-icon:hover #torso,
.design-icon:hover #outer-circle-2,
.design-icon:hover #rectangle,
.design-icon:hover #pen-tip,
.design-icon:hover #pen-tip-line,
.web-icon:hover #outer-circle-3,
.web-icon:hover #closing-bracket1,
.web-icon:hover #closing-bracket2, 
.web-icon:hover #slash {
	stroke: #283744;
	transition: 0.15s ease-in;
}

.design-icon:hover #pen-tip-circle {
	fill: #283744;
	transition: 0.15s ease-in;
}

.caption {
	color: #283744;
	font-size: 1em;
	font-weight: 400;
	text-align: center;
}



/*------------------
About Page
------------------*/
#profile-pic {
	display: block;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 220px;
	max-width: 100%;
}

.resume,
.files {
	display: block;
	text-align: center;
	padding-top: 25px;
}

.resume-button {
	background-color: #283744;
    border: none;
	border-radius: 5px;
    color: #ECF0F1;
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
	width: 100px;
}

.resume-button:hover,
.files-button:hover {
    background-color:#445d72;
    transition:0.2s;
}

.files-button {
	background-color: #283744;
    border: none;
	border-radius: 5px;
    color: #ECF0F1;
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
	width: 150px;
}



/*------------------
Projects Page 
------------------*/
.web-card {
	background-color: #DEE0E0;
	border-radius: 15px;
	box-shadow: 0px 5px 10px rgba(52,73,94,0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 40px;
}

.web-card h3 {
	font-size: 1.2em;
	margin-top: 20px;
	text-align: center;
}

.web-card img {
	display: block;
	/*height: 190px;*/
	margin: 0 auto;
	width: 100%;
}

.web-card p {
	border-radius: 0 0 15px 15px;
	/*height: 100%;*/
	padding: 10px;
	width: 100%;
}

.web-card:hover {
	box-shadow: 0px 5px 20px rgba(52,73,94,0.3);
}




/*------------------
Contact Page
------------------*/

.contact-info {
	list-style: none;
	margin: 0;
	padding-bottom: 20px;
}

.contact-info li {
	margin-bottom: 15px;
}

.contact-info a {
	text-align: left;
}

.contact-info .fa-twitter,
.contact-info .fa-envelope,
.contact-info .fa-linkedin-in {
  	color: #283744;
  	font-size: 1.5em;
}

.contact-info .fa-twitter,
.contact-info .fa-envelope {
	margin-right: 15px;
}

.contact-info .fa-linkedin-in {
	margin-right: 20px;
}






