@charset "utf-8";
/* CSS Document */

/*------------------ Fonts ------------------*/
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Questrial';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';



/*------------------ General Styles ------------------*/

* {
	box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
	/*background-image: linear-gradient(#ECF0F1, #d8eaef);*/
    color: #283744;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
    font-family: 'Questrial', sans-serif;
}

h2, h3 {
    font-family: 'Oswald', sans-serif;
    color: #16A085;
    letter-spacing: .5px;
    padding: 15px 0;
}

h2 {
    font-size: 1.6em;
	margin: 5px 0;
}

h3 {
    font-size: 1.2em;
	margin-bottom: 10px;
}

img {
  max-width: 100%;
}

#wrapper {
	flex: 1;
}

/*------------------ Links ------------------*/

a {
    text-decoration: none;
    color: #3498DB;
}

a:hover {
    color:#E74C3C;
    transition: 0.2s;
}

#main-content a:visited {
    color:#8E44AD;
}



/*------------------ Nav Bar ------------------*/

.navbar {
	background-color: #283744;
	border-bottom: solid 3px #E67E22;
}

.navbar .navmenu {
	display: none;
	font-size: 20px;
	text-align: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*.navbar ul li {
    display:inline-block;
	padding: 10px;
}*/

.navbar ul li a {
    display:inline-block;
	padding: 10px;
	width: 100%;
}

.navbar li a {
	background-color: #283744;
	color: #ECF0F1;
	display: block;
	font-size: 1.2em;
    text-decoration: none;
}

.navbar li a:hover {
	color: #e8e8e8;
    background-color:#E74C3C;
}

.navbar .navmenu a:hover {
	color: #e8e8e8;
    background-color: #283744;
}

.navbar .active {
    color: #E67E22;
}

.dropdown-content {
    display: none;
    position: absolute;
	overflow: auto;
}

.dropdown-content li a {
	background-color: #1f2c35;
	border-bottom: 2px solid #283744;
	display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
	display: block;
	position: relative;
}

.fa-sort-desc {
	display: inline-block;
	padding: 0 10px;
}

.dropdown:hover ul li {
    display: block;
	padding: 0;
}

.dropdown-content li a:hover {
    background-color: #E74C3C;
	color: #e8e8e8;
}



/*------------------ Main Header ------------------*/
#main-header {
	background-color:#283744;
	color: #ECF0F1;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-align:center;
	letter-spacing: .5px;
    padding: 20px 10px;
}

.special {
    color: #16A085;
}



/*------------------ Main Content ------------------*/
#wrapper {
    width: 90%;
	margin: 0 auto;
    line-height: 1.5em;
}

#main-content {
    margin: 0 auto;
    width: 88%;
}

#main-content p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

#main-banner {
	display: block;
	margin: 0 auto;
    padding-top: 10px;
	width: 88%;
}



/*------------------ Masonry Grid ------------------*/

#container {
	width: 100%;
	margin: 0 auto;
}

#logos-gallery,
#photos-gallery,
#promo-gallery {
	list-style: none;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
	width: 100%;
}

#logos-gallery img,
#photos-gallery img,
#promo-gallery img {
	display: inline-block;
	margin-bottom: 4px;
	width: 100%;
}



/*------------------ Table ------------------*/

table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin:0 auto;
}

th {
    font-weight: bold;
}

td, th {
    border: 3px solid #3498DB;
    text-align: left;
    padding: 8px;
}


tr:nth-child(even) {
    background-color: #3498DB;
}



/*------------------ Forms ------------------*/
form {
    margin:0 auto;
    width: 100%;
    padding: 15px 0;
}

input[type=text], input[type=email] {
    display:block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    display:block;
    width: 100%;
    height: 250px;
    padding: 8px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

input[type=submit] {
    background-color: #16A085;
    border: none;
    color: #ECF0F1;
    display: block;
    padding: 16px 32px;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    border: 2px solid #283744;
}

input[type=submit]:hover {
    background-color:#E74C3C;
    transition:0.2s;
}



/*------------------ Footer ------------------*/

footer{
	text-align: center;
}

footer p {
    display: block;
    padding: 20px 0;
	clear: both;
}



/*------------------ Icons ------------------*/

.return-top {
	display: block;
	clear: both;
	margin: 0 auto;
	padding: 20px 0;
	width: 35px;
}

footer .fa {
	vertical-align: middle;
	text-align: center;
	line-height: 35px;
	font-size: 22px;
	height: 35px;
	width: 35px;
	text-decoration: none;
	border-radius: 50%;
	margin: 0 8px;
}

footer .fa-github {
	color: #24292e;
	font-size: 40px;
}

.fa-twitter {
  	background: #55ACEE;
  	color: white;
}

.fa-facebook {
	background: #3B5998;
  	color: white;
}

.fa-envelope {
	background: #dd4b39;
  	color: white;
}

.return-top:hover, .fa:hover {
    opacity: 0.7;
}



/*------------------ About Page ------------------*/
#profile-pic {
	width: 60%;
	float: right;
	padding: 0 20px;
}


/*------------------ Monthly Theme Page ------------------*/
#wallpapers-gallery ul {
	list-style-type: none;
}

#wallpapers-gallery li {
	display: inline;
}



/*------------------ Contact Page ------------------*/

.contact-info {
  list-style: none;
  padding-bottom: 20px;
  margin: 0;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}


.contact-info li.mail a{
  background-image: url('../images/icons/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../images/icons/twitter.png');
}






