@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 37.5em) {
  	.navbar li:not(:first-child) {
	  	display: none;
	}
	
  	.navbar li.navmenu {
		display: block;
		text-align: center;
  	}
}

@media screen and (max-width: 37.5em) {
	.navbar.responsive {
		position: relative;
	}
	
	.navbar.responsive li.navmenu {
		text-align: center;
		right: 0;
		top: 0;
	}
	
	.navbar.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}

@media all and (min-width: 37.5em){
	h1{
		font-size: 1.1em;
	}
	
	h3{
		font-size: 1.3em;
	}
	
	.navbar ul li {
		display:inline-block;
		padding: 0 10px;
	}

	.navbar ul li a {
		display: block;
	}
	
	.navbar li a:hover {
		background-color: #283744;
		color:#E74C3C;
	}
	
	.dropdown-content {
		background-color: #e8e8e8;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		display: none;
		position: absolute;
		width: 11.4em;
		overflow: auto;
	}

	.dropdown-content li a {
		display: block;
		border-bottom: none;
		background-color: #e8e8e8;
		color: #283744;
		text-align: left;
		padding: 10px;
	}
	
	.dropdown:hover .dropdown-content {
		display: block;
		position: absolute;
	}
	
	.dropdown-content li a:hover {
		color: #e8e8e8;
		background-color: #E74C3C;
		transition: 0.2s;
	}
	
	.dropdown .fa-sort-desc {
		display: none;
	}
	
	form {
		width: 70%;
	}
    
    .poke-desktop {
        width: 100%;
        padding-bottom: 5px;
    }
	
	footer .fa {
		vertical-align: middle;
		text-align: center;
		line-height: 50px;
		font-size: 33px;
		height: 50px;
		width: 50px;
	}
	
	footer .fa-github {
		font-size: 56px;
	}
	
	.return-top {
		display: block;
		clear: both;
		margin: 0 auto;
		padding: 20px 0;
		width: 50px;
	}

}

@media all and (min-width: 53.75em){
	h1{
		font-size: 1.2em;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	h3{
		font-size: 1.4em;
	}
	
    .navbar li a {
        font-size: 1.25em;
		padding: 0 10px;
    }
	
	.dropdown-content li a {
		padding: 10px;
	}
	
	table {
		width: 80%;
	}
	
	form {
		width: 55%;
	}
    
    .poke-desktop {
        width: 100%;
    }
	
	#logos-gallery,
	#photos-gallery,
	#promo-gallery {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
	
	.flex-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-right: 20px;
	}
}

@media all and (min-width: 58.75em){
	h1{
		font-size: 1.3em;
	}
	
	h2 {
		font-size: 1.5em;
		line-height: 1em;
	}
	
	h3{
		font-size: 1.4em;
	}
	
    .navbar li a {
		padding: 0 13px;
    }
	
	.dropdown-content li a {
		padding: 10px;
	}
	
	table {
		width: 70%;
	}
	
	form {
		width: 45%;
	}
    
    .poke-desktop {
        width: 49.7%;
		padding: 5px 7px;

    }
	
	#profile-pic {
		width: 425px;
	}
}

@media all and (min-width: 81.25em){
	h1{
        font-size: 1.4em;
    }
	
    .navbar li a {
		padding: 0 25px;
    }
	
	.dropdown-content li a {
		padding: 10px;
	}
	
	table {
		width: 60%;
	}
	
	form {
		width: 40%;
	}
    
    .poke-desktop {
        width: 49%;
    }
	
	#profile-pic {
		width: 500px;
	}
	
}